<%= f.label :name, "Name" %>
<%= f.text_field :name %>

<%= f.label :description, "Description" %>
<%= f.text_area :description %>

<%= f.label :lon, "Longitude" %>
<%= f.text_field :lon %>

<%= f.label :lat, "Latitude" %>
<%= f.text_field :lat %>

<%= f.submit %>

<a href="https://geocode.localfocus.nl/">Geocoding Help</a>
