<% if @walk.stations.first %>
  <ul class="walk-list">
    <% @walk.stations.sort_by(&:priority).each do |station| %>
      <li class="station-list-item" data-lon="<%= station.lon %>" data-lat="<%= station.lat %>">
        <%= render 'stations/list_item', station: station %>
        <ul class="walk-list">
          <% station.subjects.each do |sub| %>
            <%= render 'subjects/list_item', subject: sub %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= render 'stations/empty' %>
<% end %>
