<div class="container">
  <div class="columns">
    <h1 class="column col-12 mb-2"><%= t('station.new') %></h1>
  </div>
  <div class="columns">
    <div class="column col-7 col-md-10">
      <%= form_for :station, method: :post, url: walk_stations_path(@walk) do |f| %>
        <%= render "form", f: f %>
      <% end %>
      <p class="mt-2"><%= link_to t("back"), walk_path(@walk) %></p>
    </div>
    <div class="column col-5 col-md-10">
      <noscript><%= t 'staion.form.noscript' %></noscript>
      <div id="pick-map"></div>
    </div>
  </div>
</div>
