<h1>Station <%= @station.name %></h1>

<h2>Description</h2>
<p><%= @station.description %></p>

<h2>Location</h2>
<p><%= @station.coord %></p>

<h2>Part of walk</h2>
<p>
  <%= link_to @station.walk.name, walk_path(@station.walk) %></p>

<h2>Subjects</h2>
<% if @station.subjects.first %>
  <ul>
    <% @station.subjects.each do |st| %>
      <li><%= link_to  st.name, subject_path(st) %></li>
    <% end %>
  </ul>
<% else %>
  No subjects
<% end %>


<%= render("edit_link", st: @station) if can_edit_station?(@station) %>
<%= render "delete_form" if can_delete_station?(@station) %>
