<div class="container">
  <div class="columns">
    <div class="column col-12 mb-2 order-md-0 order-0">
      <h1><%= t('station.sort.title') %> <%= link_to  @walk.name, walk_path(@walk) %></h1>
      <noscript><%= t 'station.sort.noscript' %></noscript>
    </div>
    <div class="column col-5 col-lg-4 col-md-12 col-ml-auto order-md-1 order-2">
      <p class="text-right">
        <%= link_to walk_path(@walk), class: "btn tooltip", data: { tooltip: @walk.name }  do %>
          <i data-feather="map"><%= @walk.name %></i>
        <% end %>
        <% if @walk.stations.count > 1 %>
          <%= link_to route_walk_path(@walk), class: "btn tooltip", data: { tooltip: t('walk.course.label')} do %>
            <i data-feather="navigation"><%= t('walk.course') %></i>
          <% end %>
        <% end %>
      </p>
    </div>
    <div class="column col-7 col-lg-8 col-md-12 order-md-2 order-1">
      <p class="bg-primary p-2">
        <i data-feather="help-circle" class="mr-2 va-middle"></i>
        <%= t 'station.sort.help' %>
      </p>
      <ol id="sortable-list" class="sortable">
        <% @walk.stations.sort_by(&:priority).each do |station| %>
          <li data-id="<%= station.id %>">
            <%= render 'stations/list_item', station: station %>
          </li>
        <% end %>
      </ol>
    </div>

  </div>
  <div class="columns">
    <div class="column col-6 col-md-12">
      <p id="sortable-order-changed" class="bg-warning p-2 d-none">
        <i data-feather="alert-circle" class="mr-2 va-middle"></i>
        <%= t 'station.order_changed' %>
      </p>
      <p id="sortable-order-error" class="bg-warning p-2 d-none">
        <i data-feather="alert-circle" class="mr-2 va-middle"></i>
        <%= t 'station.order_error' %>
      </p>
      <p id="sortable-saving" class="d-none">
        <span class="loading pr-2"></span>
        <span class="pl-2"><%= t 'saving' %>...</span>
      </p>
      <button id="sortable-save" class="btn btn-secondary"><%= t 'station.save_order' %></button>
      <p class="mt-2"><%= link_to t("back"), walk_path(@walk) %></p>
    </div>
  </div>
</div>
