<div class="form-group">
  <%= f.label :name, "#{t('form.name')} *", class: "form-label" %>
  <%= f.text_field :name, class: "form-input" %>
</div>

<div class="form-group">
  <label class="form-label"><%= t('form.type')%> *</label>
  <% Page::VARIANTS.each do |t| %>
    <%= f.label :variant, value: t, class: "form-radio form-inline" do %>
      <%= f.radio_button :variant, t %>
      <i class="form-icon"></i>
      <%= t.to_s.capitalize %>
    <% end %>
  <% end %>
</div>

<div class="radio-additional">
  <div class="form-group">
    <%= f.label :content, t('form.content'), class: "form-label" %>
    <%= f.text_area :content, class: "form-input" %>
    <p><%= t('page.form.help.new_line')%></p>
  </div>
  <div class="form-group">
    <%= f.label :challenges, t('form.challenges'), class: "form-label" %>
    <%= f.text_area :challenges, class: "form-input" %>
    <p><%= t('page.form.help.challenge_list').html_safe %></p>
  </div>
</div>

<div class="radio-additional">
  <div class="form-group">
    <%= f.label :link, t('form.link'), class: "form-label" %>
    <%= f.text_field :link, class: "form-input" %>
  </div>
</div>

<div class="radio-additional">
  <div class="form-group">
    <%= f.label :question, t('form.question'), class: "form-label" %>
    <%= f.text_field :question, class: "form-input" %>
  </div>

  <div class="radio-additional">
    <%= f.label :answers, t('form.answers'), class: 'form-label' %>
    <%= f.text_area :answers, class: "form-input" %>
    <p><%= t('page.form.help.answers_list').html_safe %><br>
    <%= t('page.form.help.answers_correct').html_safe %></p>
  </div>
</div>

<div class="form-group mt-2">
  <%= f.submit value: t('station.save'), class: 'btn btn-primary' %>
</div>
