<div class="container">
  <div class="columns">
    <div class="column col-8">
      <h1><%= @page.name %></h1>
      <p class="label label-secondary label-rounded"><%= @page.variant %></p>
    </div>
    <div class="column col-2 col-ml-auto text-right">
      <% if @page.editable_by? current_user %>
        <%= render("edit_link", page: @page) %>
        <%= render "delete_form", page: @page %>
      <% end %>
    </div>
  </div>

  <div class="columns">
    <%= render "pages/story" %>
    <%= render "pages/iframe" %>
    <%= render "pages/quiz" %>
  </div>
</div>
