<h1><%= @page.name %></h1>

<p><%= link_to "Back to #{@subject.name}", subject_path(@subject) %></p>


<p><%= @page.variant %></p>

<%= @page.content.gsub("\n", "<br>").html_safe if @page.content.present? %>

<% if @challenges %>
  <h4>Challenges</h4>
  <ol>
  <% @challenges.each do |challenge| %>
    <li><%= challenge %></li>
  <% end %>
  </ol>
<% end %>

<% if @page.link.present? %>
  <iframe width="600" height="400" src="<%= @page.link %>"></iframe>
  <code><%= @page.link %></code>
<% end %>

<% if @page.question && @answers %>
  <h4><%= @page.question if @page.question.present? %></h4>
  <ul>
    <%=  %>
    <% @answers.each_with_index do |answer, index| %>
      <li>
        <%= answer %>
        <%= "(correct)" if @correct_answer == index %>
      </li>
    <% end %>
  </ul>
<% end %>
<p>
  <%= render("pages/edit_link", page: @page, ) if can_edit_subject?(@subject) %>
  <%= render("pages/delete_form", page: @page) if can_delete_subject?(@subject) %>
</p>
