<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h1><%= t('page.sort.title') %> <%= link_to  @subject.name, subject_path(@subject) %></h1>
      <noscript><%= t 'page.sort.noscript' %></noscript>
      <p class="bg-gray p-2">
        <i data-feather="help-circle" class="mr-2 va-middle"></i>
        <%= t 'page.sort.help' %>
      </p>
    </div>
    <div class="column col-6">
      <ol id="sortable-list" class="sortable">
        <% @subject.pages.sort_by(&:priority).each do |page| %>
          <%= render 'pages/list_item', page: page %>
        <% end %>
      </ol>
    </div>
    <div class="column col-2 col-mx-auto">
      <p id="sortable-saving" class="d-none">
        <span class="loading pr-2"></span>
        <span class="pl-2"><%= t 'saving' %>...</span>
      </p>
    </div>
  </div>
</div>
