<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h1><%= t('page.sort.title') %> <%= link_to  @subject.name, subject_path(@subject) %></h1>
      <noscript><%= t 'page.sort.noscript' %></noscript>
    </div>
    <div class="column col-6">
      <p class="bg-primary p-2">
        <i data-feather="help-circle" class="mr-2 va-middle"></i>
        <%= t 'page.sort.help' %>
      </p>
      <ol id="sortable-list" class="sortable">
        <% @subject.pages.sort_by(&:priority).each do |page| %>
          <%= render 'pages/list_item', page: page %>
        <% end %>
      </ol>
    </div>
    <div class="column col-6">
      <p class="text-right">
        <%= link_to walk_path(@subject.station.walk), class: "btn tooltip", data: { tooltip: @subject.station.walk.name }  do %>
          <i data-feather="map"><%= @subject.station.walk.name %></i>
        <% end %>
        <%= link_to station_path(@subject.station), class: "btn tooltip", data: { tooltip: @subject.station.name} do %>
          <i data-feather="map-pin"><%= @subject.station.name %></i>
        <% end %>
        <%= link_to subject_path(@subject), class: "btn tooltip", data: { tooltip: @subject.name} do %>
          <i data-feather="message-circle"><%= @subject.name %></i>
        <% end %>
      </p>
    </div>
  </div>
  <div class="columns">
    <div class="column col-6">
      <p id="sortable-order-changed" class="bg-warning p-2 d-none">
        <i data-feather="alert-circle" class="mr-2 va-middle"></i>
        <%= t 'station.order_changed' %>
      </p>
      <p id="sortable-order-error" class="bg-warning p-2 d-none">
        <i data-feather="alert-circle" class="mr-2 va-middle"></i>
        <%= t 'station.order_error' %>
      </p>
      <p id="sortable-saving" class="d-none">
        <span class="loading pr-2"></span>
        <span class="pl-2"><%= t 'saving' %>...</span>
      </p>
      <button id="sortable-save" class="btn btn-secondary"><%= t 'station.save_order' %></button>
      <p class="mt-2"><%= link_to t("back"), subject_path(@walk) %></p>
    </div>
  </div>
</div>
