<div class="container">
  <div class="columns">
    <div class="column col-8 col-md-12">
      <h1><%= t :app_name %></h1>
      <p class="blurb"><%= t 'index.blurb' %></p>
      <h2><%= t 'index.head1' %></h2>
      <p><%= t 'index.text1_0' %></p>
      <p><%= t 'index.text1_1' %></p>
      <p><%= t 'index.text1_2' %></p>
      <h2><%= t 'index.head2' %></h2>
      <p><%= t 'index.text2_0' %></p>
      <p><%= t 'index.text2_1' %></p>
      <h2><%= t 'index.head3' %></h2>
      <p><%= t 'index.text3_0' %></p>
      <p><%= t 'index.text3_1' %></p>
    </div>
    <div class="column col-4 col-md-8">
      <div class="panel">

        <% if current_user %>
          <div class="panel-header">
            <h4 class="panel-title">Ahoi, <%= current_user.email %>!</h4>
          </div>
          <div class="panel-body">
            <p><%= t(:some_text) %></p>
          </div>
          <div class="panel-footer">
            <p><%= link_to t('signout.label'), destroy_user_session_path, method: :delete %></p>
          </div>
        <% else %>
          <div class="panel-header">
            <h4 class="panel-title"><%= t 'signup.label' %></h4>
          </div>
          <div class="panel-body">
            <p><%= t 'signup.text' %></p>
          </div>
          <div class="panel-footer">
            <p>
              <%= link_to t('signin.label'), new_user_session_path, class: "btn" %>
              <%= link_to t('signup.label'), new_user_registration_path, class: "btn" %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
