<h1>Subjects</h1>

<% if @subjects.first %>
  <ul>
    <% for sub in @subjects do %>
      <li>
        <%= link_to sub.name, subject_path(sub) %>
        <%= can_edit_subject(sub) %>
      </li>
    <% end %>
  </ul>
<% else %>
  No Subjects
<% end %>

<div>
  <%= link_to "New Walk", new_walk_path %>
  <%= link_to "New Station", new_station_path %>
  <%= link_to "New Subject", new_subject_path %>
</div>
