<div class="container">
  <div class="columns">
    <div class="column col-8">
      <h1><%= @subject.name %></h1>
      <p><%= @subject.description %></p>
    </div>

    <div class="column col-2 col-ml-auto text-right">
      <% if @subject.editable_by? current_user %>
        <%= render("edit_link", sub: @subject) %>
        <%= render "delete_form" %>
      <% end %>
    </div>
  </div>

  <div class="columns">
    <div class="column col-11 col-ml-auto">
      <div class="columns space-t">
        <div class="column col-10">
          <h2><%= t('page.plural') %></h2>
        </div>
        <div class="column col-2 text-right">
          <p>
            <% if @subject.pages.size > 1 %>
              <%= link_to sort_subject_pages_path(@subject),
              class: "btn tooltip",
                data: { tooltip: t("page.change_order")} do %>
                <i data-feather="list"><%= t('page.change_order') %></i>
              <% end%>
            <% end %>

            <%= link_to new_subject_page_path(@subject),
            class: "btn tooltip",
              data: { tooltip: t('page.new_verb')} do %>
              <i data-feather="plus-circle"><%= t('page.new_verb') %></i>
            <% end %>
          </p>
        </div>
      </div>
      <%= render 'pages/list' %>
    </div>
  </div>
</div>
