<div class="form-group">
  <%= f.label :name, "#{t 'form.name'} *", class: 'form-label' %>
  <%= f.text_field :name, class: 'form-input' %>
  <p><%= t 'walk.form.help.name' %></p>
</div>
<div class="form-group">
  <%= f.label :location, "#{t 'form.location'} *", class: 'form-label' %>
  <%= f.text_field :location, class: 'form-input' %>
  <p><%= t 'walk.form.help.location' %></p>
</div>
<div class="form-group">
  <%= f.label :description, "#{t 'form.description'} *", class: 'form-label' %>
  <%= f.text_area :description, class: 'form-input' %>
  <p><%= t 'walk.form.help.description' %></p>
</div>

<% if @walk.publishable? || @walk.public %>
  <div class="form-group js-check-license">
    <%= f.label :public, class: 'form-checkbox' do %>
      <%= f.check_box :public %>
      <i class="form-icon"></i> <%= t 'form.public' %>
    <% end  %>
  </div>

  <div class="toast toast-primary js-license-text <%= "is-hidden" unless @walk.public %>">
    <%= t('license.disclaimer')%>
  </div>
<% end %>

<div class="form-label space-t js-license-submit">
  <%= f.submit value: t('walk.save'), class: "btn btn-secondary", data: { prompt: t('license.confirm') } %>
</div>
