<div class="container space-b">
  <div class="columns box">
    <div class="column col-12">
      <h2>Spaziergang veröffentlichen</h2>

      <% if @walk.publishable? %>
        <p>Du kannst deinen Spaziergang jetzt veröffentlichen.</p>
        <%= render 'walks/publish' %>
      <% else %>

        <p>Du kannst deinen Spaziergang noch nicht veröffentlichen.</p>
        <ul class="step space-t space-b">
          <li class="step-item <%= 'active' if walks_public_status_helper == 'walk' %>">
            <%= link_to 'Spaziergang', walk_path(@walk),
            data: { tooltip: "Spaziergang erstellt" },
            class: "tooltip"%>
          </li>

          <li class="step-item <%= 'active' if walks_public_status_helper == 'station' %>">
            <%= link_to 'Station', new_walk_station_path(@walk),
            data: { tooltip: "Mindestens 2 Stationen hinzugefügt" },
            class: "tooltip"%>
          </li>

          <li class="step-item <%= 'active' if walks_public_status_helper == 'courseline' %>">
            <% if @walk.stations.count >= 2 %>
              <%= link_to 'Laufroute', route_walk_path(@walk),
              data: { tooltip: "Laufroute hinzugefügt" },
              class: "tooltip"%>
            <% else %>
              <a disabled="disabled" class="tooltip" data-tooltip="Laufroute hinzugefügt">Laufroute</a>
            <% end %>
          </li>

          <li class="step-item <%= 'active' if walks_public_status_helper == 'subject' %>">
            <% if @walk.stations.first.present? %>
              <%= link_to 'Thema', new_station_subject_path(@walk.stations.first),
              data: { tooltip: "Mindestens 1 Thema hinzugefügt" },
              class: "tooltip"%>
            <% else %>
              <a disabled="disabled" class="tooltip" data-tooltip="Mindestens 1 Thema hinzugefügt">Thema</a>
            <% end %>
          </li>

          <li class="step-item <%= 'active' if walks_public_status_helper == 'page' %>">
            <% if @walk.stations.first.present? && @walk.stations.first.subjects.first.present? %>
              <%= link_to 'Seite', new_subject_page_path(@walk.stations.first.subjects.first),
              data: { tooltip: "Mindestens 1 Seite hinzugefügt" },
              class: "tooltip"%>
            <% else %>
              <a disabled="disabled" class="tooltip" data-tooltip="Mindestens 1 Seite hinzugefügt">Seite</a>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
