<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h1><%= t('walk.course.title')%> <%= link_to @walk.name, walk_path(@walk) %></h1>
    </div>
    <div class="column">
      <p class="text-right">
        <%= link_to walk_path(@walk), class: "btn tooltip", data: { tooltip: @walk.name }  do %>
          <i data-feather="map"><%= @walk.name %></i>
        <% end %>
        <%= link_to sort_walk_stations_path(@walk),
        class: "btn tooltip",
          data: { tooltip: t('station.change_order')} do %>
          <i data-feather="list"></i>
        <% end %>
      </p>
    </div>
  </div>

  <div class="columns">
    <div class="column col-6">
      <div id="course-initial-load" class="loading loading-lg"></div>

      <div id="course-app-section">
        <aside class="bg-primary p-2">
          <h3 class="h5 pt-2"><i data-feather="help-circle" class="mr-2 va-middle"></i><%= t 'walk.course.help.title' %></h3>
          <p><%= t 'walk.course.help.click' %></p>
          <p><%= t 'walk.course.help.direction' %></p>
          <p><%= t 'walk.course.help.first' %></p>
        </aside>
        <p class="text-right space-t">
          <% if @walk.courseline.present? %>
            <button typ="button" id="courseline-clear" class="btn tooltip" data-tooltip="<%= t 'walk.course.reset' %>">
              <i data-feather="delete"><%= t 'walk.course.reset' %></i>
            </button>
          <% end %>
        </p>
        <div class="divider"></div>
        <ul class="walk-list">
          <% @walk.stations.sort_by(&:priority).each do |station| %>
            <li class="station-list-item"
                data-station="<%= station.id %>"
                data-priority="<%= station.priority %>"
                data-lon="<%= station.lon %>"
                data-lat="<%= station.lat %>">
              <div class="tile tile-centered">
                <div class="tile-icon">
                  <i data-feather="map-pin" class="va-middle"></i>
                </div>
                <div class="tile-content">
                  <div class="tile-title"><%= station.name %></div>
                </div>
                <% unless station.priority == 0 %>
                  <div class="tile-action">
                    <button class="clear-station-btn btn tooltip text-right"
                            type="button"
                            data-tooltip="<%= t 'walk.course.reset_verb' %>">
                      <i data-feather="delete"><%= t 'walk.course.reset_verb' %></i>
                    </button>
                  </div>
                <% end %>
              </div>
              <ol class="d-hide">
                <% if @walk.courseline.present? && station.line != '[]' %>
                  <% @walk.courseline[station.line.to_i].each do |l| %>
                    <li><%= "#{l[0].to_s},#{l[1].to_s}" %></li>
                  <% end %>
                <% end %>
              </ol>
            </li>
          <% end %>
        </ul>

        <div class="space-t">
          <p id="courseline-saving" class="d-none">
            <span class="loading pr-2"></span>
            <span class="pl-2"><%= t 'saving' %>...</span>
          </p>
          <p id="courseline-changed" class="d-none bg-warning p-2">
            <i data-feather="alert-circle" class="va-middle"></i>
            <%= t 'walk.course.save_note' %></p>
          <button type="button" class="btn btn-secondary courseline-save" id="courseline-save">Route speichern</button>
        </div>
      </div>
    </div>

    <div class="column col-6 relative">
      <div id="course-activate-info" class="map-overlay"><%= t 'walk.course.map_note' %></div>
      <div id="route-map" data-courseline="<%= @walk.courseline if @walk.courseline.present? %>"></div>
    </div>
  </div>
</div>
