<h1>Edit WALK <%= @walk.name %></h1>

<%= form_for :walk, method: :patch, url: walk_path(@walk) do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :location, "Location" %>
  <%= f.text_field :location %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>

  <%= f.label :public, "öffentlich?" %>
  <%= f.check_box :public %>

  <%= f.submit %>
<% end %>
