<h1><%= @walk.name %></h1>

<h2>Location</h2>
<p><%= @walk.location %></p>
<h2>Description</h2>
<p><%= @walk.description %></p>

<%= can_edit_walk(@walk) %>

<h2>Stationen</h2>

<% if @walk.stations.first %>
  <ul>
    <% @walk.stations.each do |st| %>
      <li>
        <%= link_to  st.name, station_path(st) %>
        (<%= pluralize(st.subjects.size, 'subject') %>)
      </li>
    <% end %>
  </ul>
<% else %>
  No stations
<% end %>
