<%= render 'walks/public_status' unless @walk.public %>

<div class="container">
  <div class="columns">
    <div class="column col-7 col-md-12 col-mr-auto">
      <div class="columns">
        <div class="column col-8">
          <h1>
            <% if @walk.public %>
              <span class="tooltip va-middle"
                    data-tooltip="ist öffentlich">
                <i data-feather="globe"></i></span>
            <% end %>
            <%= @walk.name %>
          </h1>
          <p><%= @walk.location %></p>
          <p><%= @walk.description %></p>
        </div>
        <div class="column col-4 text-right">
          <%= render "walks/actions"%>
        </div>
      </div>
      <div class="space-t">
        <%= render 'walks/courseline_notice' %>
      </div>
      <div class="columns">
        <div class="column col-9">
          <h2><%= t('station.plural') %></h2>
        </div>
        <div class="column col-3 text-right">
          <%= render "stations/actions" %>
        </div>
      </div>

      <%= render 'stations/list' %>
    </div>
    <div class="column col-5 col-md-10">
      <% if @walk.stations.size >= 1 %>
        <div id="big-map" data-courseline="<%= @walk.courseline if @walk.courseline.present? %>"></div>
      <% end %>
    </div>
  </div>
</div>
