<div class="container">
  <div class="columns">
    <div class="column col-7">
      <div class="columns">
        <div class="column col-8">
          <h1><%= @walk.name %></h1>
          <p><%= @walk.location %></p>
          <p><%= @walk.description %></p>
        </div>
        <div class="column col-4 text-right">
          <%= render "walks/actions"%>
        </div>
      </div>
      <div class="columns space-t">
        <%= render 'walks/courseline_notice' %>
        <div class="column col-10">
          <h2><%= t('station.plural') %></h2>
        </div>
        <div class="column col-2 text-right">
          <p>
            <% if @walk.stations.size > 1 %>
              <%= link_to sort_walk_stations_path(@walk),
              class: "btn tooltip",
                data: { tooltip: t('station.change_order')} do %>
                <i data-feather="list"></i>
              <% end %>
            <% end %>

            <%= link_to new_walk_station_path(@walk),
            class: "btn tooltip",
              data: { tooltip: t('station.new_verb')} do %>
              <i data-feather="plus-circle"></i>
            <% end %>
        </div>
          </p>
      </div>

      <%= render 'stations/list' %>
    </div>
    <div class="column col-5">
      <% if @walk.stations.size >= 1 %>
        <div id="big-map" data-courseline="<%= @walk.courseline if @walk.courseline.present? %>"></div>
      <% end %>
    </div>
  </div>
</div>
