<div class="container">
  <div class="columns">
    <div class="column col-5">
      <h1><%= @walk.name %></h1>
      <p><%= @walk.location %></p>
      <p><%= @walk.description %></p>
    </div>
    <div class="column col-2 text-right">
      <% if @walk.editable_by? current_user %>
        <%= link_to edit_walk_path(@walk), class: "btn tooltip", data: { tooltip: t('walk.edit')} do %>
          <i data-feather="edit-3"></i>
        <% end %>
        <%= render 'walks/delete_form' %>

        <%= @walk.courseline %>
        <p></p>
      <% end %>
    </div>
    <div class="column col-5">
      <div id="big-map"></div>
    </div>

  </div>

  <div class="columns">
    <div class="column col-11 col-ml-auto">
      <div class="columns space-t">
        <div class="column col-10">
          <h2><%= t('station.plural') %></h2>
        </div>
        <div class="column col-2 text-right">
          <p>
            <% if @walk.stations.size > 1 %>
              <%= link_to sort_walk_stations_path(@walk),
              class: "btn tooltip",
                data: { tooltip: t('station.change_order')} do %>
                <i data-feather="list"></i>
              <% end %>
            <% end %>

            <%= link_to new_walk_station_path(@walk),
            class: "btn tooltip",
              data: { tooltip: t('station.new_verb')} do %>
              <i data-feather="plus-circle"></i>
            <% end %>
        </div>
          </p>
      </div>

      <%= render 'stations/list' %>
    </div>
  </div>
</div>
