<footer class="container legal">
  <div class="columns">
    <div class="column col-4 col-md-12 col-ml-auto text-right">
      <%= link_to t('imprint.title'), impressum_path() %>
      <%= link_to t('data_protection.title'), datenschutzerklaerung_path(), class: 'ml-2' %>
    </div>
  </div>
</footer>
<footer class="container footer">
  <div class="columns">
    <div class="column col-3 col-sm-6 col-xs-8">
      <p><%= image_tag("datenschule_logo_Slogan_weiss_web.png", alt: "Datenschule logo", class: "footer-logo") %></p>
      <p><%= image_tag("Logo_okfde_white_scaled.png", alt: "OKF DE logo", class: "footer-logo") %></p>
    </div>
    <div class="column col-4 col-sm-6 col-xs-10">
      <p><%= t 'app_about' %><br>
      <a href="https://datenschule.de">datenschule.de</a><br>
      <a href="https://okfn.de">okfn.de</a></p>
      <p><%= t(:app_license) %>
        <%= link_to t('link_github'), "https://github.com/Datenschule/spaziergang-creator"%></p>
    </div>
    <div class="column col-4 col-sm-6 col-xs-10">
      <p><%=  t("app.hosted_by") %> <%= ENV["HOME_NAME"] %>.</p>
      <p><%=  t("app.walk_app") %> <a href="https://spaziergang.demokratielabore.de/"><%= t :mobile_app %></a></p>
    </div>
  </div>
</footer>
<% if ENV["MATOMO_URL"] && ENV["MATOMO_ID"] %>
<aside class="container footer">
  <div class="columns">
    <div class="column col-12">
      <p class=" space-t">
        <%= t('matomo.desc').html_safe %><br>
        <%= t('matomo.opt_out_1') %>
        <%= link_to t("matomo.opt_out_2"),
        "#{ENV['MATOMO_URL']}/index.php?module=CoreAdminHome&action=optOut&language=#{I18n.locale}" %>.
        <%= t('matomo.more') %> <%= link_to t("data_protection.title"), datenschutzerklaerung_path  %>.
      </p>
    </div>
  </div>
</aside>
<% end %>
