<header class="container navigation">
  <nav class="navbar p-2">
    <section class="navbar-section pt-2 pb-2">
      <a href="/" class="navbar-brand mr-2"><%= t :app_name %></a>
      <%= link_to t('walk.plural'), walks_path, class: "mx-2" %>

      <% if current_user.present? %>
        <%= link_to t('walk.own'), private_walks_path() %>
      <% end %>
    </section>
    <section class="navbar-section">
      <% if current_user.present? %>

        <div class="dropdown">
          <a href="#" class=" dropdown-toggle" tabindex="0">
            <%= current_user.email %> <i data-feather="chevron-down" class="va-middle"></i>
          </a>
          <ul class="menu bg-dark">
            <li class="menu-item"><%= link_to t("onboarding.link"), onboarding_path %></li>
            <li class="menu-item"><%= link_to "Profil bearbeiten", edit_user_registration_path %></li>
            <li class="menu-item">
              <%= link_to t('signout.label'), destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
    </section>
  </nav>
</header>
