<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpaziergangCreator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
  </head>

  <body>
    <div class="wrapper">

      <%= render "layouts/navbar" %>

      <%= render "layouts/user_bar" %>

      <%= render "layouts/breadcrumbs" %>

      <%= render "layouts/flashes" %>

      <main class="main">
        <%= yield %>
      </main>

      <%= render "layouts/footer" %>
    </div>
    <script>
     feather.replace()
    </script>
  </body>
</html>
