<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpaziergangCreator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path 'favicons/apple-touch-icon.png', skip_pipeline: true %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicons/favicon-32x32.png', skip_pipeline: true) %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicons/favicon-16x16.png', skip_pipeline: true) %>">
    <link rel="manifest" href="<%= image_path 'favicons/site.webmanifest', skip_pipeline: true%>">
    <link rel="mask-icon" href="<%= image_path 'favicons/safari-pinned-tab.svg', skip_pipeline: true %>" color="#454d5d">
    <link rel="shortcut icon" href="<%= image_path 'favicons/favicon.ico', skip_pipeline: true %>">
    <meta name="msapplication-TileColor" content="#00ff9d">
    <meta name="msapplication-config" content="<%= image_path 'favicons/browserconfig.xml', skip_pipeline: true%>">
    <meta name="theme-color" content="#00ff9d">

    <% if ENV["MATOMO_URL"] && ENV["MATOMO_ID"] %>
    <!-- Matomo -->
    <script type="text/javascript">
     var _paq = window._paq || [];
     /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
     _paq.push(['trackPageView']);
     _paq.push(['enableLinkTracking']);
     (function() {
       var u="<%= ENV['MATOMO_URL'] %>";
       _paq.push(['setTrackerUrl', u+'matomo.php']);
       _paq.push(['setSiteId', "<%= ENV['MATOMO_ID'] %>"]);
       var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
       g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
     })();
    </script>
    <!-- End Matomo Code -->
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
  </head>

  <body>
    <div class="wrapper">

      <%= render "layouts/navbar" %>

      <%= render "layouts/breadcrumbs" %>

      <%= render "layouts/flashes" %>

      <main class="main">
        <%= yield %>
      </main>

      <%= render "layouts/footer" %>
    </div>
    <script>
     feather.replace()
    </script>
  </body>
</html>
